<link rel="stylesheet" href="component.component.css">

<div style="padding:2px;" class="container">
  <h1 class="text-danger text-center">Hi!, My first angular website</h1>
  <br>
  <div class="bla">

    <div class="" style="width: 18rem;">
      <img src="https://media.giphy.com/media/wLNuW1tCKRiPmDV5Y4/giphy.gif" class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>

    <div class="" style="width: 18rem;">
      <img src="https://media.giphy.com/media/wLNuW1tCKRiPmDV5Y4/giphy.gif" class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>

    <div class="" style="width: 18rem;">
      <img src="https://media.giphy.com/media/wLNuW1tCKRiPmDV5Y4/giphy.gif" class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>
  </div>
  <br><br>
  <h2 class="text-danger text-center">Jose Molina Jimenez</h2>
</div>
